[submodule ".registry"]
	path = .registry
	url = https://github.com/scnext/universe
	shallow = true
	branch = HEAD
[submodule "SCGLR"]
	path = SCGLR
	url = https://github.com/SCnext/SCGLR
	shallow = true
	registered = true
